## DSCI 551 Final Project

### a. Dataset Cleaning & Selection

In [1]:
import pandas as pd

In [2]:
# Load the dataset
file_path = "../data/apartments_for_rent_classified_100K.csv"  
df = pd.read_csv(file_path, delimiter=";", encoding="ISO-8859-1", low_memory=False)  

display(df)

,id,category,title,body,amenities,bathrooms,bedrooms,currency,fee,has_photo,...,price_display,price_type,square_feet,address,cityname,state,latitude,longitude,source,time
0,5668640009,housing/rent/apartment,One BR 507 & 509 Esplanade,"This unit is located at 507 & 509 Esplanade, R...",NaN,1.0,1.0,USD,No,Thumbnail,...,"$2,195",Monthly,542,507 509 Esplanade,Redondo Beach,CA,33.8520,-118.3759,RentLingo,1577360355
1,5668639818,housing/rent/apartment,Three BR 146 Lochview Drive,"This unit is located at 146 Lochview Drive, Ne...",NaN,1.5,3.0,USD,No,Thumbnail,...,"$1,250",Monthly,1500,146 Lochview Dr,Newport News,VA,37.0867,-76.4941,RentLingo,1577360340
2,5668639686,housing/rent/apartment,Three BR 3101 Morningside Drive,This unit is located at 3101 Morningside Drive...,NaN,2.0,3.0,USD,No,Thumbnail,...,"$1,395",Monthly,1650,3101 Morningside Dr,Raleigh,NC,35.8230,-78.6438,RentLingo,1577360332
3,5668639659,housing/rent/apartment,Two BR 209 Aegean Way,"This unit is located at 209 Aegean Way, Vacavi...",NaN,1.0,2.0,USD,No,Thumbnail,...,"$1,600",Monthly,820,209 Aegean Way,Vacaville,CA,38.3622,-121.9712,RentLingo,1577360330
4,5668639374,housing/rent/apartment,One BR 4805 Marquette NE,"This unit is located at 4805 Marquette NE, Alb...",NaN,1.0,1.0,USD,No,Thumbnail,...,$975,Monthly,624,4805 Marquette NE,Albuquerque,NM,35.1038,-106.6110,RentLingo,1577360308
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99487,5121219946,housing/rent/apartment,Houston - superb Apartment nearby fine dining,"Redefining urban living, in southeast Houston,...","Gym,Parking,Patio/Deck,Playground,Storage,Wood...",1.0,1.0,USD,No,Yes,...,$780,Monthly,605,NaN,Houston,TX,29.6151,-95.1998,RentDigs.com,1544185770
99488,5121219696,housing/rent/apartment,The Best of the Best in the City of Jacksonvil...,Courtney Manor Apartments offer the best of ev...,"AC,Cable or Satellite,Clubhouse,Dishwasher,Gym...",2.0,2.0,USD,No,Yes,...,$813,Monthly,921,NaN,Jacksonville,FL,30.2254,-81.7579,RentDigs.com,1544185750
99489,5121219420,housing/rent/apartment,A great & large One BR apartment. Pet OK!,"Fully remodeled, new floor, kitchen cabinet, s...","Garbage Disposal,Refrigerator",1.0,1.0,USD,No,Yes,...,"$1,325",Monthly,650,NaN,San Diego,CA,32.7379,-117.0914,RentDigs.com,1544185729
99490,5121218935,housing/rent/apartment,"The Crest offers studio, 1, 2 & Three BR homes...","Amenities include a fitness facilities, swimmi...","Gym,Pool",1.0,1.0,USD,No,Yes,...,$931,Monthly,701,NaN,Huntersville,NC,35.4158,-80.8451,RentDigs.com,1544185670
99491,5121218844,housing/rent/apartment,Large Remodeled Two BR 1. Five BA Apartment Home,This is a brand new 2 Beds 1. five Bathrooms A...,"Gated,Parking,Wood Floors",1.5,2.0,USD,No,Yes,...,"$1,595",Monthly,900,NaN,San Diego,CA,32.7379,-117.0914,RentDigs.com,1544185659

In [3]:
df['time'] = pd.to_datetime(df['time'], unit='s')
display(df.head())

,id,category,title,body,amenities,bathrooms,bedrooms,currency,fee,has_photo,...,price_display,price_type,square_feet,address,cityname,state,latitude,longitude,source,time
0,5668640009,housing/rent/apartment,One BR 507 & 509 Esplanade,"This unit is located at 507 & 509 Esplanade, R...",NaN,1.0,1.0,USD,No,Thumbnail,...,"$2,195",Monthly,542,507 509 Esplanade,Redondo Beach,CA,33.8520,-118.3759,RentLingo,2019-12-26 11:39:15
1,5668639818,housing/rent/apartment,Three BR 146 Lochview Drive,"This unit is located at 146 Lochview Drive, Ne...",NaN,1.5,3.0,USD,No,Thumbnail,...,"$1,250",Monthly,1500,146 Lochview Dr,Newport News,VA,37.0867,-76.4941,RentLingo,2019-12-26 11:39:00
2,5668639686,housing/rent/apartment,Three BR 3101 Morningside Drive,This unit is located at 3101 Morningside Drive...,NaN,2.0,3.0,USD,No,Thumbnail,...,"$1,395",Monthly,1650,3101 Morningside Dr,Raleigh,NC,35.8230,-78.6438,RentLingo,2019-12-26 11:38:52
3,5668639659,housing/rent/apartment,Two BR 209 Aegean Way,"This unit is located at 209 Aegean Way, Vacavi...",NaN,1.0,2.0,USD,No,Thumbnail,...,"$1,600",Monthly,820,209 Aegean Way,Vacaville,CA,38.3622,-121.9712,RentLingo,2019-12-26 11:38:50
4,5668639374,housing/rent/apartment,One BR 4805 Marquette NE,"This unit is located at 4805 Marquette NE, Alb...",NaN,1.0,1.0,USD,No,Thumbnail,...,$975,Monthly,624,4805 Marquette NE,Albuquerque,NM,35.1038,-106.6110,RentLingo,2019-12-26 11:38:28

In [4]:
df.to_csv("../data/raw.csv", index=False)

In [5]:
# Remove features
column_removed = df.drop(['category', 'address'], axis=1)
display(column_removed.head())

,id,title,body,amenities,bathrooms,bedrooms,currency,fee,has_photo,pets_allowed,price,price_display,price_type,square_feet,cityname,state,latitude,longitude,source,time
0,5668640009,One BR 507 & 509 Esplanade,"This unit is located at 507 & 509 Esplanade, R...",NaN,1.0,1.0,USD,No,Thumbnail,Cats,2195.0,"$2,195",Monthly,542,Redondo Beach,CA,33.8520,-118.3759,RentLingo,2019-12-26 11:39:15
1,5668639818,Three BR 146 Lochview Drive,"This unit is located at 146 Lochview Drive, Ne...",NaN,1.5,3.0,USD,No,Thumbnail,"Cats,Dogs",1250.0,"$1,250",Monthly,1500,Newport News,VA,37.0867,-76.4941,RentLingo,2019-12-26 11:39:00
2,5668639686,Three BR 3101 Morningside Drive,This unit is located at 3101 Morningside Drive...,NaN,2.0,3.0,USD,No,Thumbnail,NaN,1395.0,"$1,395",Monthly,1650,Raleigh,NC,35.8230,-78.6438,RentLingo,2019-12-26 11:38:52
3,5668639659,Two BR 209 Aegean Way,"This unit is located at 209 Aegean Way, Vacavi...",NaN,1.0,2.0,USD,No,Thumbnail,"Cats,Dogs",1600.0,"$1,600",Monthly,820,Vacaville,CA,38.3622,-121.9712,RentLingo,2019-12-26 11:38:50
4,5668639374,One BR 4805 Marquette NE,"This unit is located at 4805 Marquette NE, Alb...",NaN,1.0,1.0,USD,No,Thumbnail,"Cats,Dogs",975.0,$975,Monthly,624,Albuquerque,NM,35.1038,-106.6110,RentLingo,2019-12-26 11:38:28

In [6]:
# Change the empty value in amenities to No amenities
column_removed['amenities'] = column_removed['amenities'].fillna('No amenties')
column_removed['amenities'] = column_removed['amenities'].apply(lambda x: x if isinstance(x, str) and x.strip() != '' else 'No amenities')

# Change the empty value in pets_allowed to No pets_allowed
column_removed['pets_allowed'] = column_removed['pets_allowed'].replace('Cats,Dogs,None', 'Cats,Dogs')
column_removed['pets_allowed'] = column_removed['pets_allowed'].fillna('No pets allowed')

display(column_removed.head())

,id,title,body,amenities,bathrooms,bedrooms,currency,fee,has_photo,pets_allowed,price,price_display,price_type,square_feet,cityname,state,latitude,longitude,source,time
0,5668640009,One BR 507 & 509 Esplanade,"This unit is located at 507 & 509 Esplanade, R...",No amenties,1.0,1.0,USD,No,Thumbnail,Cats,2195.0,"$2,195",Monthly,542,Redondo Beach,CA,33.8520,-118.3759,RentLingo,2019-12-26 11:39:15
1,5668639818,Three BR 146 Lochview Drive,"This unit is located at 146 Lochview Drive, Ne...",No amenties,1.5,3.0,USD,No,Thumbnail,"Cats,Dogs",1250.0,"$1,250",Monthly,1500,Newport News,VA,37.0867,-76.4941,RentLingo,2019-12-26 11:39:00
2,5668639686,Three BR 3101 Morningside Drive,This unit is located at 3101 Morningside Drive...,No amenties,2.0,3.0,USD,No,Thumbnail,No pets allowed,1395.0,"$1,395",Monthly,1650,Raleigh,NC,35.8230,-78.6438,RentLingo,2019-12-26 11:38:52
3,5668639659,Two BR 209 Aegean Way,"This unit is located at 209 Aegean Way, Vacavi...",No amenties,1.0,2.0,USD,No,Thumbnail,"Cats,Dogs",1600.0,"$1,600",Monthly,820,Vacaville,CA,38.3622,-121.9712,RentLingo,2019-12-26 11:38:50
4,5668639374,One BR 4805 Marquette NE,"This unit is located at 4805 Marquette NE, Alb...",No amenties,1.0,1.0,USD,No,Thumbnail,"Cats,Dogs",975.0,$975,Monthly,624,Albuquerque,NM,35.1038,-106.6110,RentLingo,2019-12-26 11:38:28

In [7]:
# Drop all the na value now
df_cleaned = column_removed.dropna()
display(df_cleaned)

,id,title,body,amenities,bathrooms,bedrooms,currency,fee,has_photo,pets_allowed,price,price_display,price_type,square_feet,cityname,state,latitude,longitude,source,time
0,5668640009,One BR 507 & 509 Esplanade,"This unit is located at 507 & 509 Esplanade, R...",No amenties,1.0,1.0,USD,No,Thumbnail,Cats,2195.0,"$2,195",Monthly,542,Redondo Beach,CA,33.8520,-118.3759,RentLingo,2019-12-26 11:39:15
1,5668639818,Three BR 146 Lochview Drive,"This unit is located at 146 Lochview Drive, Ne...",No amenties,1.5,3.0,USD,No,Thumbnail,"Cats,Dogs",1250.0,"$1,250",Monthly,1500,Newport News,VA,37.0867,-76.4941,RentLingo,2019-12-26 11:39:00
2,5668639686,Three BR 3101 Morningside Drive,This unit is located at 3101 Morningside Drive...,No amenties,2.0,3.0,USD,No,Thumbnail,No pets allowed,1395.0,"$1,395",Monthly,1650,Raleigh,NC,35.8230,-78.6438,RentLingo,2019-12-26 11:38:52
3,5668639659,Two BR 209 Aegean Way,"This unit is located at 209 Aegean Way, Vacavi...",No amenties,1.0,2.0,USD,No,Thumbnail,"Cats,Dogs",1600.0,"$1,600",Monthly,820,Vacaville,CA,38.3622,-121.9712,RentLingo,2019-12-26 11:38:50
4,5668639374,One BR 4805 Marquette NE,"This unit is located at 4805 Marquette NE, Alb...",No amenties,1.0,1.0,USD,No,Thumbnail,"Cats,Dogs",975.0,$975,Monthly,624,Albuquerque,NM,35.1038,-106.6110,RentLingo,2019-12-26 11:38:28
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99487,5121219946,Houston - superb Apartment nearby fine dining,"Redefining urban living, in southeast Houston,...","Gym,Parking,Patio/Deck,Playground,Storage,Wood...",1.0,1.0,USD,No,Yes,No pets allowed,780.0,$780,Monthly,605,Houston,TX,29.6151,-95.1998,RentDigs.com,2018-12-07 12:29:30
99488,5121219696,The Best of the Best in the City of Jacksonvil...,Courtney Manor Apartments offer the best of ev...,"AC,Cable or Satellite,Clubhouse,Dishwasher,Gym...",2.0,2.0,USD,No,Yes,"Cats,Dogs",813.0,$813,Monthly,921,Jacksonville,FL,30.2254,-81.7579,RentDigs.com,2018-12-07 12:29:10
99489,5121219420,A great & large One BR apartment. Pet OK!,"Fully remodeled, new floor, kitchen cabinet, s...","Garbage Disposal,Refrigerator",1.0,1.0,USD,No,Yes,"Cats,Dogs",1325.0,"$1,325",Monthly,650,San Diego,CA,32.7379,-117.0914,RentDigs.com,2018-12-07 12:28:49
99490,5121218935,"The Crest offers studio, 1, 2 & Three BR homes...","Amenities include a fitness facilities, swimmi...","Gym,Pool",1.0,1.0,USD,No,Yes,"Cats,Dogs",931.0,$931,Monthly,701,Huntersville,NC,35.4158,-80.8451,RentDigs.com,2018-12-07 12:27:50
99491,5121218844,Large Remodeled Two BR 1. Five BA Apartment Home,This is a brand new 2 Beds 1. five Bathrooms A...,"Gated,Parking,Wood Floors",1.5,2.0,USD,No,Yes,No pets allowed,1595.0,"$1,595",Monthly,900,San Diego,CA,32.7379,-117.0914,RentDigs.com,2018-12-07 12:27:39

In [8]:
duplicate_ids = df_cleaned[df_cleaned.duplicated(subset=['id'], keep='first')]
print(f"Number of duplicate IDs: {len(duplicate_ids)}")
print("Duplicate IDs:")
print(duplicate_ids)

Number of duplicate IDs: 84
Duplicate IDs:
               id                                              title  \
41958  5508806580  Las Vegas, prime location Two BR, Apartment. P...
41959  5508806428                          Northglenn Value. Pet OK!
41960  5508806391  Apartment in move in condition in District Hei...
41961  5508806299  District Heights, prime location Two BR, Apart...
41962  5508806233                            Spacious One BR, One BA
...           ...                                                ...
83243  5197839500  Apartment, Studio, 400 sq. ft. - in a great area.
83244  5197836604  offers the lifestyle you deserve in the center...
83245  5197834189                 Attractive Two BR, Two BA. Pet OK!
83246  5197828852  The Best of the Best in the City of Tempe! Sav...
83247  5197828778  Two BA - $1,862/mo - Apartment - in a great ar...

                                                    body  \
41958  Live in the middle of it all! South is a pet f...
41959  Square footage: 738 square ft, unit number: 06...
41960  Capital Courts has something for everyone. Loc...
41961  Income Requirement: Must have 2. 5x the rent i...
41962  Square footage: 680 sq-ft, unit number: 122. P...
...                                                  ...
83243  Apartment for rent in Ruckersville. Dogs Dogs ...
83244  Our pet friendly one, 2 and 3 beds apartment h...
83245  Square footage: 1055 square feet, unit number:...
83246  In the heart of vibrant Tempe near Arizona Sta...
83247  In the heart of vibrant Tempe near Arizona Sta...

                                       amenities  bathrooms  bedrooms  \
41958                           Gym,Parking,Pool        2.0       2.0
41959                   Gym,Parking,Pool,Storage        1.0       1.0
41960                 AC,Parking,Playground,Pool        1.5       3.0
41961                                    Parking        1.0       2.0
41962  Basketball,Gym,Patio/Deck,Playground,Pool        1.0       1.0
...                                          ...        ...       ...
83243                                No amenties        1.0       0.0
83244                                No amenties        2.0       2.0
83245                           Gym,Parking,Pool        2.0       2.0
83246                           Gym,Parking,Pool        2.0       3.0
83247                           Gym,Parking,Pool        2.0       3.0

      currency fee has_photo     pets_allowed   price price_display  \
41958      USD  No       Yes        Cats,Dogs  1335.0        $1,335
41959      USD  No       Yes        Cats,Dogs  1331.0        $1,331
41960      USD  No       Yes  No pets allowed  1320.0        $1,320
41961      USD  No       Yes  No pets allowed  1349.0        $1,349
41962      USD  No       Yes  No pets allowed  1260.0        $1,260
...        ...  ..       ...              ...     ...           ...
83243      USD  No        No  No pets allowed   725.0          $725
83244      USD  No       Yes  No pets allowed  1237.0        $1,237
83245      USD  No       Yes        Cats,Dogs  1476.0        $1,476
83246      USD  No       Yes  No pets allowed  1877.0        $1,877
83247      USD  No       Yes  No pets allowed  1862.0        $1,862

      price_type  square_feet          cityname state  latitude  longitude  \
41958    Monthly         1084         Las Vegas    NV   36.1536  -115.1965
41959    Monthly          738        Northglenn    CO   39.8999  -104.9442
41960    Monthly          943  District Heights    MD   38.8516   -76.8871
41961    Monthly          931  District Heights    MD   38.8516   -76.8871
41962    Monthly          680            Denver    CO   39.8999  -104.9442
...          ...          ...               ...   ...       ...        ...
83243    Monthly          400      Ruckersville    VA   38.2203   -78.3844
83244    Monthly         1051         Charlotte    NC   35.3201   -80.7409
83245    Monthly         1055             Tempe    AZ   33.3924  -111.9265
83246    Monthly         1261             Tempe    AZ   33.3924  -111.9265
83247    Monthly         1261             Tempe    AZ   33.3924  -111.9265

             source                time
41958  RentDigs.com 2019-09-17 21:01:26
41959  RentDigs.com 2019-09-17 21:01:12
41960  RentDigs.com 2019-09-17 21:01:09
41961  RentDigs.com 2019-09-17 21:01:01
41962  RentDigs.com 2019-09-17 21:00:56
...             ...                 ...
83243  RentDigs.com 2019-02-22 08:24:38
83244  RentDigs.com 2019-02-22 08:23:00
83245  RentDigs.com 2019-02-22 08:21:19
83246  RentDigs.com 2019-02-22 08:11:31
83247  RentDigs.com 2019-02-22 08:11:17

[84 rows x 20 columns]

In [9]:
df_cleaned = df_cleaned.drop_duplicates(subset='id', keep='first')

In [10]:
duplicate_ids = df_cleaned[df_cleaned.duplicated(subset=['id'], keep='first')]
print(f"Number of duplicate IDs: {len(duplicate_ids)}")

Number of duplicate IDs: 0

In [11]:
# Checked, it's cleaned
df_cleaned.to_csv("../data/dataset.csv", index=False)

### b. Data Filtering

In [12]:
# Use the new dataset
apartments = pd.read_csv('../data/dataset.csv')

# Count the current observations
obs = len(apartments)
print(f"Observations Number: {obs}")

Observations Number: 98923

In [13]:
state_counts = apartments['state'].value_counts().reset_index()
display(state_counts.head(15))

   state  count
0     TX  11229
1     CA  10244
2     VA   8275
3     NC   6292
4     CO   6269
5     FL   5766
6     MD   5272
7     MA   5019
8     OH   4896
9     GA   4750
10    NJ   4441
11    NV   2810
12    WA   2593
13    AZ   2370
14    LA   1344

In [14]:
target_states = ['VA', 'NC', 'FL', 'MD', 'MA']

final_data = apartments[apartments['state'].isin(target_states)]
display(final_data)

,id,title,body,amenities,bathrooms,bedrooms,currency,fee,has_photo,pets_allowed,price,price_display,price_type,square_feet,cityname,state,latitude,longitude,source,time
1,5668639818,Three BR 146 Lochview Drive,"This unit is located at 146 Lochview Drive, Ne...",No amenties,1.5,3.0,USD,No,Thumbnail,"Cats,Dogs",1250.0,"$1,250",Monthly,1500,Newport News,VA,37.0867,-76.4941,RentLingo,2019-12-26 11:39:00
2,5668639686,Three BR 3101 Morningside Drive,This unit is located at 3101 Morningside Drive...,No amenties,2.0,3.0,USD,No,Thumbnail,No pets allowed,1395.0,"$1,395",Monthly,1650,Raleigh,NC,35.8230,-78.6438,RentLingo,2019-12-26 11:38:52
6,5668638765,Two BR 5 Salt Marsh Quay Apartment H,This unit is located at five Salt Marsh Quay A...,No amenties,2.0,2.0,USD,No,Thumbnail,No pets allowed,1600.0,"$1,600",Monthly,1120,Hampton,VA,37.0451,-76.3664,RentLingo,2019-12-26 11:37:41
11,5668637998,Two BR 39 Intrepid Circle Unit 301,This unit is located at 39 Intrepid Circle Uni...,No amenties,3.0,2.0,USD,No,Thumbnail,No pets allowed,3195.0,"$3,195",Monthly,3077,Marblehead,MA,42.4982,-70.8647,RentLingo,2019-12-26 11:36:34
30,5668630356,Two BR 4685 N. Haverhill Road,This unit is located at 4685 N. Haverhill Road...,No amenties,2.0,2.0,USD,No,Thumbnail,"Cats,Dogs",1740.0,"$1,740",Monthly,1600,West Palm Beach,FL,26.7173,-80.1164,RentLingo,2019-12-26 11:28:10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98906,5121224098,Convenient location Two BR Two BA for rent,"Square footage: 1114 sq-ft, unit number: 522. ...","Fireplace,Gym,Internet Access,Parking,Pool,Sto...",2.0,2.0,USD,No,Yes,No pets allowed,1460.0,"$1,460",Monthly,1114,Granite Quarry,NC,35.6091,-80.4434,RentDigs.com,2018-12-07 12:33:49
98909,5121223130,Landlord is Paying the Brokers Fee!,- Beautiful floor through 2 beds one baths on ...,"Patio/Deck,Storage,Washer Dryer,Wood Floors",1.0,2.0,USD,No,Yes,No pets allowed,2590.0,"$2,590",Monthly,725,Boston,MA,42.3280,-71.0710,RentDigs.com,2018-12-07 12:32:52
98917,5121221006,"Great Central Location One BR, One BA",nd Park is an upscale apartment community Jack...,"Gym,Patio/Deck,Pool,Washer Dryer",1.0,1.0,USD,No,Yes,"Cats,Dogs",798.0,$798,Monthly,650,Jacksonville,FL,30.2254,-81.7579,RentDigs.com,2018-12-07 12:30:44
98919,5121219696,The Best of the Best in the City of Jacksonvil...,Courtney Manor Apartments offer the best of ev...,"AC,Cable or Satellite,Clubhouse,Dishwasher,Gym...",2.0,2.0,USD,No,Yes,"Cats,Dogs",813.0,$813,Monthly,921,Jacksonville,FL,30.2254,-81.7579,RentDigs.com,2018-12-07 12:29:10
98921,5121218935,"The Crest offers studio, 1, 2 & Three BR homes...","Amenities include a fitness facilities, swimmi...","Gym,Pool",1.0,1.0,USD,No,Yes,"Cats,Dogs",931.0,$931,Monthly,701,Huntersville,NC,35.4158,-80.8451,RentDigs.com,2018-12-07 12:27:50

In [15]:
# Count the current observations
obs = len(final_data)
print(f"Observations Number: {obs}")

Observations Number: 30624

In [17]:
final_data.to_csv('../data/final_dataset.csv', index=False)

### c. Data Subset: Divide to different tables for databases

In [27]:
# Use the new dataset
apartments = pd.read_csv('../data/final_dataset.csv')

In [28]:
all_amenities = apartments['amenities'].str.split(',').explode().unique()
all_amenities

array(['No amenties', 'Dishwasher', 'Parking', 'Refrigerator',
       'Garbage Disposal', 'Patio/Deck', 'Cable or Satellite',
       'Playground', 'Clubhouse', 'Doorman', 'Hot Tub', 'Internet Access',
       'Pool', 'Storage', 'Tennis', 'Elevator', 'Basketball', 'Fireplace',
       'Alarm', 'Gated', 'Golf', 'TV', 'View', 'Gym', 'Luxury', 'AC',
       'Washer Dryer', 'Wood Floors'], dtype=object)

In [29]:
# amenities
amenities_list = sorted(list(all_amenities))  
amenities_df = pd.DataFrame({
    'amenity_id': range(1, len(amenities_list) + 1),
    'amenity_name': amenities_list
})
display(amenities_df)
amenities_df.to_csv('../data/amenities.csv', index=False)

    amenity_id        amenity_name
0            1                  AC
1            2               Alarm
2            3          Basketball
3            4  Cable or Satellite
4            5           Clubhouse
5            6          Dishwasher
6            7             Doorman
7            8            Elevator
8            9           Fireplace
9           10    Garbage Disposal
10          11               Gated
11          12                Golf
12          13                 Gym
13          14             Hot Tub
14          15     Internet Access
15          16              Luxury
16          17         No amenties
17          18             Parking
18          19          Patio/Deck
19          20          Playground
20          21                Pool
21          22        Refrigerator
22          23             Storage
23          24                  TV
24          25              Tennis
25          26                View
26          27        Washer Dryer
27          28         Wood Floors

In [30]:
# property_amenities
amenity_map = {name: aid for name, aid in zip(amenities_list, range(1, len(amenities_list) + 1))}
records = []
for _, row in apartments.iterrows():
    apt_id = row['id']
    amenities_field = row['amenities']
    for a in amenities_field.split(','):
        name = a.strip()
        if name in amenity_map:
            records.append({'id': apt_id, 'amenity_id': amenity_map[name]})

amenities_types_df = pd.DataFrame(records)
display(amenities_types_df)
amenities_types_df.to_csv('../data/amenities_types.csv', index=False)

                id  amenity_id
0       5668639818          17
1       5668639686          17
2       5668638765          17
3       5668637998          17
4       5668630356          17
...            ...         ...
122453  5121219696          23
122454  5121219696          24
122455  5121219696          27
122456  5121218935          13
122457  5121218935          21

[122458 rows x 2 columns]

In [31]:
# pricing
pricing = apartments[['id', 'price', 'currency']]
display(pricing.head())
pricing.to_csv("../data/pricing.csv", index=False)

           id   price currency
0  5668639818  1250.0      USD
1  5668639686  1395.0      USD
2  5668638765  1600.0      USD
3  5668637998  3195.0      USD
4  5668630356  1740.0      USD

In [32]:
# price_details
payment = apartments[['id', 'price_display', 'price_type']]
display(payment.head())
payment.to_csv("../data/payment.csv", index=False)

           id price_display price_type
0  5668639818        $1,250    Monthly
1  5668639686        $1,395    Monthly
2  5668638765        $1,600    Monthly
3  5668637998        $3,195    Monthly
4  5668630356        $1,740    Monthly

In [33]:
# pets
sources = apartments[['id', 'pets_allowed', 'fee']]
display(sources.head())
sources.to_csv("../data/pets.csv", index=False)

           id     pets_allowed fee
0  5668639818        Cats,Dogs  No
1  5668639686  No pets allowed  No
2  5668638765  No pets allowed  No
3  5668637998  No pets allowed  No
4  5668630356        Cats,Dogs  No